{{> head}}
{{> header}}

<main class="wrap">
  <div class="card container-sm">
    <div class="card-header">
      <h1 class="m-0">Login</h1>
      <p class="page-header-subtitle">Enter your credentials to access your account</p>
    </div>

    {{> errorAlert}}

    <form method="post" action="/login">
      <div class="card-section">
        <div class="field">
          <label for="username" class="form-field-label">Username</label>
          <input id="username" name="username" type="text" required value="{{username}}" autofocus class="form-field-input">
        </div>

        <div class="field form-field">
          <label for="password" class="form-field-label">Password</label>
          <input id="password" name="password" type="password" required class="form-field-input">
        </div>
      </div>

      <div class="card-action">
        <button class="btn btn-primary btn-full-width" type="submit">Login</button>
      </div>
    </form>

    <div class="card-section section-center-bg">
      <p class="m-0">Don't have an account? <a href="/register" class="link-brand">Register here</a></p>
    </div>
  </div>
</main>

{{> footer}}
