{{> head}}
{{> header}}

<main class="wrap">
  <div class="container-sm">
    <div class="card card-error">
      <div class="card-header card-header-error">
        <h1>{{title}}</h1>
      </div>

      <div class="card-section">
        <p class="card-message">{{message}}</p>
      </div>

      <div class="card-action">
        <a href="/" class="btn btn-primary">Return Home</a>
      </div>
    </div>
  </div>
</main>

{{> footer}}
