{{> head}}
{{> header}}

<main class="wrap">
  <div class="card container">
    <div class="card-header">
      <h1 class="m-0">{{title}}</h1>
    </div>

    {{> errorAlert}}

    <form method="post" action="{{#isEdit}}/admin/courses/{{course._id}}/edit{{/isEdit}}{{^isEdit}}/admin/courses{{/isEdit}}">
      <div class="card-section">
        <h3 class="form-section-title">Course Details</h3>

        <div class="field">
          <label for="title" class="form-field-label">Course Title <span>*</span></label>
          <input id="title" name="title" type="text" required value="{{course.title}}" class="form-field-input">
        </div>

        <div class="field form-field">
          <label for="description" class="form-field-label">Description <span>*</span></label>
          <textarea id="description" required name="description" rows="4" class="form-field-textarea">{{course.description}}</textarea>
        </div>

        <div class="grid-2-cols m-top-1-5">
          <div>
            <label for="level" class="form-field-label">Level <span>*</span></label>
            <select id="level" name="level" required class="form-field-select">
              <option value="">Select level</option>
              <option value="beginner" {{#beginner}}selected{{/beginner}}>Beginner</option>
              <option value="intermediate" {{#intermediate}}selected{{/intermediate}}>Intermediate</option>
              <option value="advanced" {{#advanced}}selected{{/advanced}}>Advanced</option>
            </select>
          </div>

          <div>
            <label for="type" class="form-field-label">Type <span>*</span></label>
            <select id="type" name="type" required class="form-field-select">
              <option value="">Select type</option>
              <option value="WEEKLY_BLOCK" {{#block}}selected{{/block}}>Weekly Block</option>
              <option value="WEEKEND_WORKSHOP" {{#workshop}}selected{{/workshop}}>Weekend Workshop</option>
            </select>
          </div>
        </div>

        <div class="grid-2-cols m-top-1-5">
          <div>
            <label for="startDate" class="form-field-label">Start Date <span>*</span></label>
            <input id="startDate" required name="startDate" type="date" value="{{course.startDate}}" class="form-field-input">
          </div>

          <div>
            <label for="endDate" class="form-field-label">End Date <span>*</span></label>
            <input id="endDate" required name="endDate" type="date" value="{{course.endDate}}" class="form-field-input">
          </div>
        </div>

        <div class="form-field-checkbox">
          <input id="allowDropIn" name="allowDropIn" type="checkbox" {{#course.allowDropIn}}checked{{/course.allowDropIn}}>
          <label for="allowDropIn">Allow drop-in bookings</label>
        </div>
      </div>

      <div class="card-action">
        <div class="button-container-full-flex">
          {{#isEdit}}
          <button class="btn btn-primary" type="submit">Save & Manage Sessions</button>
          {{/isEdit}}
          {{^isEdit}}
          <button class="btn btn-primary" type="submit">Next</button>
          {{/isEdit}}
          <a href="/admin/courses" class="btn btn-delete">Cancel</a>
        </div>
      </div>
    </form>
  </div>
</main>

{{> footer}}
